

/*========== .lecture&tour ==========*/
main {
  padding-inline: 7%;
}

.lectureAndtour {
  width: 100%;
  max-height: 40rem;
  display: flex;
  align-items: center;
}

.lectureAndtour__tittle {
  display: flex;
  align-items: center;
  gap: 15rem;
  margin: 13.5rem 5.5% 15rem;
}

.lectureAndtour__tittle h2 {
  font-family: 'LINE Seed JP';
  font-size: clamp(2rem, 1.423rem + 2.56vw, 4.5rem);
  font-weight: bold;
  color: var(--mainColor);
}

.lectureAndtour__tittle h2 p {
  font-size: clamp(1rem, 0.885rem + 0.51vw, 1.5rem);
  color: #c5c5c5;
}

.lectureAndtour__text {
  font-size: clamp(0.875rem, 0.731rem + 0.64vw, 1.5rem);
  color: var(--textColor);
  letter-spacing: 0.04em;
  line-height: 180%;
}

.lectureAndtour__container {
  margin-bottom: 10rem;
}

@media (max-width: 1200px) {
.archive__container {
  flex-wrap: wrap;
  padding: 1.5rem;
}

  .lectureAndtour__tittle {
    flex-wrap: wrap;
    gap: 3.5rem;
  }
}


/*========== grid ==========*/
.desc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: .5rem;
  padding-inline: 5.5%;
  margin-bottom: 15rem;
}
  
.desc__img1 {
  grid-row: span 5 / span 5;
}

.desc__img1 img {
  width: min(448px,100%);
  position: sticky;
  top: 30vh;
}

.desc__img2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  display: flex;
  justify-content: flex-end;
}

.desc__img2 img {
  width: min(416px,100%);
  max-height: 240px;
}

.desc__text-container {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 3;
}

.desc__text-container .desc__text {
  width: 70%;
  padding-left: 3rem;
}

.desc__text h3 {
  font-weight: bold;
  color: var(--mainColor);
  font-size: clamp(1.5rem, 1.269rem + 1.03vw, 2.5rem);
  line-height: 160%;
  letter-spacing: 0.06em;
  margin-bottom: 2rem;
}

.desc__text p {
  font-weight: bold;
  color: var(--textColor);
  font-size: clamp(1rem, 0.885rem + 0.51vw, 1.5rem);
  line-height: 320%;
  letter-spacing: 0.06em;
}


@media (max-width: 1200px) {
main {
  padding-inline: 4%;
}

  .lectureAndtour__tittle {
    margin: 13.5rem 5.5% 7rem;
  }

  .desc {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 0;
  }

  .desc__text-container .desc__text {
    width: 100%;
    padding-left: 10%;
  }

  .desc__img2 {
    grid-column-start: 2;
    grid-row: span 1 / span 1;
  }
}

@media (max-width: 768px) {
  .desc {
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 6rem;
  }

  .desc__text-container {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .desc__img1 {
    display: none;
  }

  .desc__text-container .desc__text {
    padding-left: 0;
    margin-top: 2rem;
  }

  .desc__text p {
    line-height: 240%;
  }

  .desc__text h3 br {
    display: none;
  }
}

/*========== archive ==========*/
.archive h3 {
  display: block;
  text-align: center;
  font-size: clamp(1.125rem, 0.808rem + 1.41vw, 2.5rem);
  font-weight: bold;
  color: var(--mainColor);
  margin-bottom: 5rem;
}

.archive__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: var(--mainColor);
  border-radius: .5rem;
  padding: 2.5rem 3.5rem;
}

.archive__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.archive__wrapper h4 {
  font-weight: bold;
  font-size: clamp(1rem, 0.769rem + 1.03vw, 2rem);
  color: #fff;
  margin: 0 auto 3.5rem;
}

.archive__wrapper ul {
  display: flex;
  flex-direction: column;
  background: #fffffd;
  border-radius: 6px;
  padding: 2.5rem 3.5rem;
  gap: 1.5rem;
}

.archive__wrapper ul li {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: clamp(1rem, 0.769rem + 1.03vw, 2rem);
  color: var(--mainColor);
}

.archive__wrapper ul li:first-of-type {
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed var(--textColor);
}

@media (max-width: 1200px) {
  .archive__wrapper h4 {
    margin: 0 auto 1.5rem;
  }
}


@media (max-width: 768px) {
  .archive h3 {
    margin-bottom: 2rem;
  }

  .archive__container {
    padding: 1.5rem 1rem;
  }

  .archive__wrapper ul {
    padding: 1rem;
  }
}


/*========== community ==========*/
.community {
  /* 画面幅いっぱいにはみ出させるためのネガティブマージン */
  margin: 0 calc(50% - 50vw);  
  width: 100vw; 
  overflow: hidden;
  position: relative;
}

.community__vision {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17.5rem;
}

.community__vision h3 {
  font-weight: bold;
  color: var(--mainColor);
  font-size: clamp(1.5rem, 1.269rem + 1.03vw, 2.5rem);
  line-height: 160%;
  letter-spacing: 0.06em;
  margin-bottom: 2rem;
}

.community__vision p {
  text-align: center;
  font-weight: bold;
  color: var(--textColor);
  font-size: clamp(1rem, 0.885rem + 0.51vw, 1.5rem);
  line-height: 320%;
  letter-spacing: 0.06em;
}

.symbol {
  display:inline-block;
  opacity: 0.3;
}

.symbol:first-of-type {
  position: absolute;
  top: 10%;
  left: -22%;
  width: min(840px, 100%);
}

.symbol:last-of-type {
  position: absolute;
  top: 45%;
  right: -5%;
  width: min(440px, 100%);
}

.symbol {
  animation:10s linear infinite rotation1;
}

.symbol:last-of-type {
  animation:12s linear infinite rotation1;
}

@keyframes rotation1 {
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg);}
}


@media (max-width: 1200px) {
  .community__vision {
    padding: 7.5rem;
  }

  .symbol:first-of-type {
    width: min(540px, 100%);
  }
  
  .symbol:last-of-type {
    width: min(240px, 100%);
  }
}


@media (max-width: 768px) {
  .community__vision {
    padding: 7.5rem 4%;
  }

  .community__vision p {
    line-height: 200%;
    letter-spacing: 0.04em;
  }

  .community__vision p br {
    display: none;
  }

  .symbol:first-of-type {
    width: min(240px, 100%);
  }

  .symbol:last-of-type {
    position: absolute;
    top: 65%;
    right: -20%;
    width: min(160px, 100%);
  }
}