/*==============================
             変数
==============================*/
:root {
  --mainColor: rgb(0, 82, 73);
  --subColor: #A8BD38;
  --accentColor: rgb(217, 220, 65);
  --textColor: #002724;
  --bgColor: #FEFFFD;
  --gray: #C5C5C5;
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.8s var(--easing);
}



main {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 0 4%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.container {
  height: auto;
  width: 100%;
  margin-bottom: 10vh;
}

.container:last-child {
  margin-bottom: 3rem;
}

.container h1 {
  display: block;
  font-size: clamp(1.5rem, -0.429rem + 8.57vw, 2.25rem);
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.container h2 {
  font-size: clamp(1rem, 0.679rem + 1.43vw, 1.125rem);
  font-weight: bold;
  margin-bottom: 3rem;
}

.container p {
  font-size: clamp(0.813rem, 0.33rem + 2.14vw, 1rem);
  line-height: 1.4rem;
  letter-spacing: 0.08em;
  margin-bottom: 1rem;
}

.container ul li {
  font-size: clamp(0.813rem, 0.33rem + 2.14vw, 1rem);
  margin-bottom: .5rem;
}

.address > h2 {
  font-size: clamp(1.125rem, 0.482rem + 2.86vw, 1.375rem);
  font-weight: bold;
}

.address > p:nth-of-type(1) {
  margin-bottom: .1rem;
}

.inquiry {
  display: block;
  text-align: center;
}

.inquiry > a {
  display: block;
  color: #333333;
  font-size: clamp(1.125rem, 0.482rem + 2.86vw, 1.375rem);
  font-weight: bold;
  margin: 2rem auto 3rem;
  text-decoration: none;
}

@media (max-width: 500px) {
  .form-btn {
    width: 75%;
  }
}