:root {
  --mainColor: rgb(0, 82, 73);
  --subColor: #A8BD38;
  --accentColor: rgb(217, 220, 65);
  --textColor: #002724;
  --bgColor: #FEFFFD;
  --gray: #C5C5C5;
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.8s var(--easing);
}


/*========== yamadera ==========*/
main {
  padding-inline: 7%;
}

@media (max-width: 1200px) {
  main {
    padding-inline: 4%;
  }
}


/*------------------------------*/
/* ファーストビュー */
/*------------------------------*/
.first-view {
  margin: 0 calc(50% - 50vw);  /* 画面幅いっぱいにはみ出させるためのネガティブマージン */
  width: 100vw;                /* 幅を画面幅いっぱいに指定 */
  margin-bottom: 15rem;
}

.first-view__img img {
  width: 100vw;
  object-fit: contain;
  object-position: center;
}

.first-view__img h2 {
  position: absolute;
  top: 50%;
  left: 5rem;
  font-size: clamp(2rem, 1.538rem + 2.05vw, 4rem);
  font-weight: bold;
  letter-spacing: 0.06em;
  color: var(--bgColor);
}

.first-view__text {
  position: relative;
  display: block;
  width: 100%;
  height: auto; /* または min-height を設定 */
  background-color: var(--bgColor);
  border-radius: 5rem 0 0 0;
  margin-top: -7%;
  padding: 4rem 7.5% 0;
  z-index: 10;
  color: var(--textColor);
}

.first-view__text h2 {
  display: none;
}

.first-view__text h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 180%;
  letter-spacing: 0.06em;
  margin-bottom: 2rem;
}

.first-view__text p {
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.06em;
}

@media (max-width: 1200px) {
  .first-view {
    margin-bottom: 10rem;
  }

  .first-view__img h2 {
    display: none;
  }

  .first-view__text {
    padding: 4rem 4% 0;
    border-radius: 2rem 0 0 0;
    margin-top: -10%;
  }

  .first-view__text h2 {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: var(--mainColor);
    margin-bottom: 1rem;
  }

  .first-view__text h3 {
    font-size: 24px;
  }

  .first-view__text p {
    font-size: 16px;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .first-view__text p br {
    display: none;
  }
}


/*------------------------------*/
/* work */
/*------------------------------*/
.work {
  display: flex;
  justify-content: flex-end;
  margin: 0 calc(50% - 50vw) 24.5rem;
}

.work__bg {
  width: calc(100% - 14.375rem);
  background-color: #F6F7F2;
  border-radius: 5rem 0 0 5rem;
  padding: 6.5rem 0 6.55rem 9.375rem;
}

.work__text {
  margin-bottom: 5rem;
}

.work__text h2 {
  font-size: clamp(2rem, 1.538rem + 2.05vw, 4rem);
  font-weight: bold;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: var(--mainColor);
  margin-bottom: 2.5rem;
}

.work__text p {
  font-size: clamp(1rem, 0.885rem + 0.51vw, 1.5rem);
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--textColor);
}

.work__list-outer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.work__list img {
  width: 100%;
  max-width: 480px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 2.5rem;
  border-radius: .5rem;
}

.work__list-desc h3 {
  font-size: clamp(1rem, 0.769rem + 1.03vw, 2rem);
  font-weight: bold;
  color: var(--mainColor);
  margin-bottom: 1rem;
}

.work__list-desc p {
  max-width: 480px;
  font-size: clamp(0.875rem, 0.817rem + 0.26vw, 1.125rem);
  color: var(--textColor);
  line-height: 180%;
  letter-spacing: 0.08em;
}

@media (max-width: 1200px) {
  .work__bg {
    width: calc(100% - 7%);
    padding: 6.5rem 7% 6.55rem ;
    border-radius: 2.5rem 0 0 2.5rem;
  }

  .work__list-outer {
    justify-content: center;
    gap: 4rem;
  }
}


/*feature
/*------------------------------*/
.feature {
  width: 100%;
  height: 780px;
  margin-bottom: 24.5rem;
  position: relative;
}

.feature img {
  position: absolute;
  border-radius: .5rem;
  border: 1px solid var(--textColor);
}

.feature img:first-of-type {
  width: clamp(10rem, 6.712rem + 14.62vw, 24.25rem);
  top: -15%;
  left: 7%;
  transform: rotate(-3deg);
}

.feature img:nth-of-type(2) {
  width: clamp(7.5rem, 4.904rem + 11.54vw, 18.75rem);
  top: 0;
  right: 11%;
  transform: rotate(1deg);
}

.feature img:last-of-type {
  width: clamp(8rem, 3.846rem + 18.46vw, 26rem);
  bottom: -17%;
  right: 1%;
  transform: rotate(3deg);
}

.feature__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(20rem, 15.99rem + 17.82vw, 37.375rem);
}

.feature__text h3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  writing-mode: vertical-rl;
  margin-bottom: 8rem;
}

.feature__text span {
font-size: clamp(2rem, 1.538rem + 2.05vw, 4rem);
font-weight: bold;
line-height: 120%;
letter-spacing: 0.08em;
color: var(--mainColor);
}

.feature__text span:last-of-type {
  letter-spacing: 0.1em;
}

.feature__text span:last-of-type {
  transform: translateY(25%);
}

.feature__text p {
  font-size: clamp(1rem, 0.885rem + 0.51vw, 1.5rem);
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--textColor);
}

@media (max-width: 768px) {
  .feature {
    margin-bottom: 10rem;
  }

  .feature__text h3 {
    margin-bottom: 5rem;
  }

  .feature img:first-of-type {
    left: 0;
  }

  .feature img:nth-of-type(2) {
    right: 1%;
  }

  .feature img:last-of-type {
    bottom: 0;
  }
}


/*------------------------------*/
/* event */
/*------------------------------*/
.event {
  position: relative;
  margin: 0 calc(50% - 50vw);
}

.event__archive {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.event__archive p {
  text-align: center;
  font-size: 18px;
  line-height: 240%;
  letter-spacing: 0.04em;
  color: var(--textColor);
}



/* slider */
.splide-wrapper {
  margin-bottom: 2rem;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}

.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splide {
  z-index: 0;
}


.gallery03 {
  margin-bottom: 16rem;
}

.gallery03 .l-inner {
  padding-bottom: 0;
}

.gallery03 .splide-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.gallery03 .slide {
  width: var(--slide-width);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  --slide-width: 200px;
}

.gallery03 .slide-media {
  height: var(--slide-width);
}

.gallery03 .slide-title {
  font-size: 1.4rem;
  line-height: 1.4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.gallery03 .slide:hover {
  width: calc(var(--slide-width) * 1.5);
}

.gallery03 .slide:hover .slide-content {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }

  .l-inner {
    padding: 0 4rem;
  }

  .pc {
    display: none !important;
  }

}

@media only screen and (max-width: 599px) {
  .gallery03 {
    margin-bottom: 8rem;
  }

  .gallery03 .slide {
    --slide-width: 120px;
  }
}


@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
}


@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}